.experiencia-container {
    padding: 2rem;
}

.experiencia-titulo {
    padding-top: 2rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .experiencia {
        background: linear-gradient(to top, rgba(255, 255, 255, .5), rgba(255, 255, 255, 1)),
            url("../images/work-banner.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .experiencia-banner {
        display: none;
    }
}